{% extends 'base.html' %}

{% block title %}
Heart Attack Prediction
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">HeartAttackPrediction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/bsb4018/heartat_predMLF">Source Code</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <!-- nav bar ends -->

    <div class="container-fluid masthead">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">
                        <!-- Input block-->
                        <div class="form-group">
                            <label for="translation">
                                <blockquote class="blockquote">
                                    <p class="mb-2">Enter the details as indicated:</p>
                                </blockquote>
                            </label>
                            <textarea class="form-control" name="Age" rows="1"
                                placeholder="Age expected range 29 to 77"></textarea>
                            <textarea class="form-control" name="Sex" rows="1"
                                placeholder="Sex expected 0 -> Female ; 1-> Male"></textarea>
                            <textarea class="form-control" name="Chest Pain" rows="1"
                                placeholder="Chest Pain expected 1 = typical angina; 2 = atypical angina;
                                3 = non-anginal pain; 0 = asymptomatic"></textarea>
                            <textarea class="form-control" name="resting blood pressure" rows="1"
                                placeholder="resting blood pressure expected range 94 to 200"></textarea>
                            <textarea class="form-control" name="Cholestrol" rows="1" 
                                placeholder="Cholestrol expected range 141 to 564"></textarea>
                            <textarea class="form-control" name="fasting blood sugar" rows="1"
                                placeholder="fasting blood sugar expected 1 = true; 0 = false"></textarea>
                            <textarea class="form-control" name="resting electrocardiographic results" rows="1"
                                placeholder=" resting electrocardiographic results expected (1 = having ST-T wave abnormality; 2 = hypertrophy; 0 = normal"></textarea>
                            <textarea class="form-control" name="maximum heart rate" rows="1" 
                                placeholder="maximum heart rate expected range 88 to 202"></textarea>
                            <textarea class="form-control" name="exercise induced angina" rows="1" 
                                placeholder="exercise induced angina expected 1 = yes; 0 = no"></textarea>
                            <textarea class="form-control" name="ST depression induced by exercise" rows="1" 
                                placeholder="ST depression induced by exercise expected range 0 to 6.2"></textarea>
                            <textarea class="form-control" name="slope of the peak exercise ST" rows="1" 
                                placeholder="slope expected 2 = upsloping; 1 = flat; 0 = downsloping"></textarea>
                            <textarea class="form-control" name="number of major vessels (0-3) colored" rows="1" 
                                placeholder="vessels colored expected 0 or 1 or 2 or 3"></textarea>
                            <textarea class="form-control" name="thalium stress test" rows="1" 
                                placeholder="vessels colored expected 2 = normal; 1 = fixed defect; 3 = reversable defect; 0 = empty data></textarea>

                        </div>

                        <!-- Select output language here. -->
                        <div class="form-group">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Predict</button></br>
                        </br>
                    </form>
                    <!-- Translated text returned by the Translate API is rendered here. -->
                </div>
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="translation-result">

                                <blockquote class="blockquote">
                                    <p class="mb-2" placeholder="angiographic disease status 0 = diameter narrowing; 1 = > 50% diameter narrowing">Prediction:</p>
                                </blockquote>

                            </label>
                            <textarea readonly class="form-control" id="exTextarea" rows="5">{{ response }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock body %}

        {% block custom_js %}
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='script/index.js') }}"></script>
        {% endblock custom_js %}
